#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    .banner{
        width: 100%;
    }
    .about-collapse-container{
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
        gap: 2rem;
        max-width: 1150px;
        .collapse-container{
            margin: 0;
        }
    }
}