@media (max-width: 767.99px) {

    .infos-container{
        flex-direction: column;
        margin: 10px 0;
        .host-infos{
            flex-direction: row-reverse;
            align-items: center;
        }
    }

    .collapses-container{
        flex-direction: column;
        .collapse-container{
            width: 100%;
        }
    }
}