

header{
    margin: 30px auto;
    max-width: 1440px;
    nav{
        display: flex;
        justify-content: space-between;
        ul{
            display: flex;
            gap: 80px;
            list-style: none;
            li{
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 24px;
                    font-weight: 500;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}