body{
    margin : 0px;
    font-family: Montserrat;
    main{
        margin : 30px 50px;
    }

    @media (min-width: 1440px) {
        main {
            margin : 30px auto;
            max-width: 1440px;
        }
    }
}