@media (max-width: 767.99px) {
    .Cards{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        border-radius: 10px;
        width: 100%;
        height: auto;
        margin: auto;
        position: relative;
        justify-content: flex-end;
        background-color: black;
    }    
}