@media (max-width: 767.99px) {
    .Cards-Gallery{
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 25px;
        padding: 20px 0;
        margin: 20px 0px;
    }
}