
.infos-container{
    display: flex;
    justify-content: space-between;
    .housing-infos{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 30px 0;
        .title-and-location{
            display: flex;
            flex-direction: column;
            gap: 10px;
            h1{
                font-size: 36px;
                font-weight: 500;
                color: #FF6060;
                margin: 0;
            }
            p{
                font-size: 18px;
                font-weight: 500;
                margin: 0;
            }
        }
        .tags{
            display: flex;
            gap: 10px;
            .tag{
                display: flex;
                background-color: #FF6060;
                border-radius: 10px;
                text-align: center;
                max-height: 30px;
                text-align: center;
                align-items: center;
                p{
                    color: white;
                    font-size: 14px;
                    font-weight: 700;
                    padding: 30px;
                }
            }
        }
    }
}

.host-infos{
    display: flex;
    justify-content: space-between;
}

.collapses-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .collapse-container{
        width: 48%;
    }
    ul {
        list-style: none;
        padding: 0;
      }
}