.Housings-Gallery{
    padding: 30px;
    background-color: #F6F6F6;
    border-radius: 25px;
    min-width: 100px;
    min-height: 100px;
    margin: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}