.Housings{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    border-radius: 10px;
    width: 340px;
    height: 340px;
    margin: auto;
    cursor: pointer;
    figcaption{
        background-color: #FF6060;
        border-radius: 0 0 10px 10px;
        width: 100%;
        height: 15%;
        color: white;
        font-size: 18px;
        align-content: center;
        p{
            margin: 5px 0 0 10px;     
        }
    }
    img{
        width: 100%;
        border-radius: 10px 10px 0 0 ;
        object-fit: cover;
        height: 85%;
    }
} 