@media (max-width: 767.99px) {
    .banner{
        justify-content: flex-start;
        img{
            height: 111px;
        }
        p{
            font-size: 24px;
            margin: 0px 20px;
        }
    } 
}