@import "../../sass/mixin.scss";

.slider {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: black;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  .slider-img {
    width: 100%;
    height: 415px;
    object-fit: cover;
    opacity: 0.8;
    border-radius: 10px;
  }
  .navigation-button {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0 20px;
    img {
      cursor: pointer;
    }
  }
  .next-button {
    right: 0;
  }
  .prev-button {
    left: 0;
  }
  p {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: 500;
    font-size: 18px;
  }
  @include respond-to(mobile) {
    .slider-img{
      max-height: 300px;
    }
    .index-info{
      display: none;
    }
    .navigation-button{
      padding: 0 10px;
      img{
        width: 50%;
        height: auto;

      }
    }
  }
}
