@import "../sass/mixin.scss";

footer{
    background-color: black;
    margin: 0px 0px !important;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    padding: 40px 0px;
    text-align: center;
    p{
        color: white;
        font-size: 24px;
        margin: 0px;
    }
    @include respond-to(mobile) {
            p{
                font-size: 1.1rem;
                display: flex;
                flex-wrap: wrap;
                max-width: 30%;
            }
    }
}