footer{
    background-color: black;
    margin: 0px 0px !important;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    // bottom: 0;
    // position: absolute;
    width: 100%;
    padding: 40px 0px;
    text-align: center;
    p{
        color: white;
        font-size: 24px;
        margin: 0px;
    }
}