@import "../../sass/mixin.scss";

.error-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  h1 {
    margin: 0;
    font-size: 288px;
    color: $kasa-main-color;
  }
  h2 {
    color: $kasa-main-color;
    font-size: 36px;
    font-weight: 500;
  }
  .go-back {
    color: black;
  }
  @include respond-to(mobile) {
    h1 {
      font-size: 96px;
    }
    h2 {
      font-size: 18px;
    }
  }
}
